<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
</head>
<body>




    <div class="delivery container">
        <p class="delivery__title">ДОСТАВКА ДО НАСЕЛЕННОГО ПУНКТА</p>
        <div class="delivery__calc">
            <div id="app">
                <input type="text" class="delivery__input" v-model="input" v-on:input="myinput" autofocus>
                <ul class="delivery__list">
                    <li v-for="item in userData | filterBy input" class="delivery__item" v-on:click="element_click" data-name='{{item.name}}' data-price='{{item.price}}'>{{item.name}}</li>
                </ul>
                <div class="delivery__result">
                    <div class="delivery__adress">
                        <div class="delivery__adress-item delivery__from" v-if='false'>
                            <p>Адрес завода</p>
                            <span>ТАЛЛИНСКОЕ ШОССЕ 153, САНКТ-ПЕТЕРБУРГ</span>
                        </div>
                        <div class="delivery__adress-item delivery__to">
                            <img src='location2.png' alt='' />
                            <p>Адрес доставки</p>
                            <span class="delivery__to-value"></span>
                        </div>
                    </div>
                    <div class="delivery__price">
                        <div class="delivery__total-price">
                            <img src='cube.png' alt='' />
                            <p>Цена за м3</p>
                            <span class="delivery__price-value"></span>
                        </div>
                        <div class="delivery__min-price">
                            <img src='delivery.png' alt='' />
                            <p>Мин. цена доставки</p>
                            <span class="delivery__price-value2"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
        var dataURL = 'example.json';
        var app = new Vue({
          el: '#app',
          data: {
            input: '',
            userData: []
        },
        created() { // when the Vue app is booted up, this is run automatically.
          var self = this // create a closure to access component in the callback below
          document.querySelector('.delivery__list').style.display = "none";
          $.getJSON(dataURL, function(data) {
            self.userData = data.address;
          });
      }, methods: {
          myinput: function() {
             var delivery__list = document.querySelector('.delivery__list');
             if(document.querySelector('.delivery__item')) {
                  delivery__list.style.display = "flex";
             }
         },
         element_click: function(e) {
             var this_price = e.target.attributes['data-price'].value;
             document.querySelector('.delivery__price-value').innerText = this_price;
             document.querySelector('.delivery__price-value2').innerText = this_price * 7;
             document.querySelector('.delivery__input').value = e.target.attributes['data-name'].value;
             document.querySelector('.delivery__to-value').innerText = e.target.attributes['data-name'].value;
         }
      }
        })

        document.addEventListener('click',function(){
            document.querySelector('.delivery__list').style.display = "none";
        });
    </script>

</body>
</html>
