<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
</head>
<body>




    <div class="delivery container">
        <p class="delivery__title">ДОСТАВКА ДО НАСЕЛЕННОГО ПУНКТА</p>
        <div class="delivery__calc">
            <div id="app">
                <input type="text" class="delivery__input" v-model="input" autofocus>
                <ul class="delivery__list">
                    <li v-for="item in userData | filterBy input" v-on:click="myinput">{{item.id}}, {{item.name}}, {{item.price}}</li>
                </ul>
                <div class="delivery__result">
                    <div class="delivery__adress">
                        <div class="delivery__adress-item delivery__from">
                            <p>Адрес завода</p>
                            <span>ТАЛЛИНСКОЕ ШОССЕ 153, САНКТ-ПЕТЕРБУРГ</span>
                        </div>
                        <div class="delivery__adress-item delivery__to">
                            <p>Адрес доставки</p>
                            <span>АЭРОПОРТ ПУЛКОВО-2</span>
                        </div>
                    </div>
                    <div class="delivery__price">
                        <div class="delivery__total-price">
                            <p>Цена за м3</p>
                            <span>300 руб</span>
                        </div>
                        <div class="delivery__min-price">
                            <p>Мин. цена доставки</p>
                            <span>2100 руб</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
        var dataURL = 'example.json';
        var app = new Vue({
          el: '#app',
          data: {
            input: '',
            userData: []
        },
        created() { // when the Vue app is booted up, this is run automatically.
          var self = this // create a closure to access component in the callback below
          $.getJSON(dataURL, function(data) {
            self.userData = data.address;
          });
      }, methods: {
          myinput: function() {
             console.log('ok');
          }
      }
        })
    </script>

</body>
</html>
