<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

    <script type="text/javascript">
    var self = this // create a closure to access component in the callback below
    $.getJSON(dataURL, function(data) {
      self.userData = data.users;
    });
    </script>

    <div id="app">
        <input type="text" v-model="input" autofocus>
        <ul>
            <li v-for="item in userData | filterBy input">{{item.id}}, {{item.name}}</li>
        </ul>
    </div>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
    <script>
        var dataURL = 'example.json';
        var app = new Vue({
          el: '#app',
          data: {
            input: '',
            userData: []
        }
        })
    </script>

</body>
</html>
