body {
    
}
#app {
    width: 100%;
    position: relative;
}
.delivery__title {
    text-align: center;
}
.delivery__calc {
    width: 900px;
    display: flex;
    margin: auto;
}
.delivery__calc input {
    flex:1;
}
.delivery__calc button {
    flex:1;
    border: 0;
    background-color: #212121;
    color: #fff;
}
.delivery__input {
    width: 200px;
    display: block;
    border: 0;
    margin: 0 auto;
    height: 50px;
    background: url(location.png)no-repeat 97% center;
    padding: 5px 20px 5px 10px;
    font-size: 18px;
    font-weight: 500;
    background-color: #fff;
}

.delivery__list {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    height: 400px;
    overflow-y: auto;
    background-color: #fff;
    left:50%;
    right: 50%;
    transform: translate(-50%, 0%);
    padding: 10px;
    list-style-type: none;
}
.delivery__result {
    display: flex;
}
.delivery__adress {
    display: flex;
    padding: 60px 50px 39px 40px;
    flex: 1;
    outline: 1px solid #000;
}
.delivery__adress-item {
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    text-align: center;
}
.delivery__adress-item span {
    font-weight: 600;
}
.delivery__result-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.delivery__price {
    display: flex;
    flex:1;
    outline: 1px solid #000;
}
.delivery__total-price {
    flex: 1;
    outline: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.delivery__min-price {
    flex: 1;
    outline: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.delivery__to {
    flex-direction: column;
    align-items: center;
}
